/* Sample RGB use coolors.com to generate palettes */
$color1: rgb(82, 65, 76);
$color2: rgb(89, 97, 87);
$color3: rgb(91, 140, 90);
$color4: rgb(207, 209, 134);
$color5: rgb(227, 101, 91);


$footer-padding: .9rem;
$body-padding: 1.3rem;
$font-size: 16px;

// Bootstrap Sizes (these aren't used in actual Bootstap files)
// TODO: It would be good to get the bootstrap variables 
// here as well
$screen-lg-min: 1200px;
$screen-md-max: 1199px;
$screen-md-min: 992px;
$screen-sm-max: 991px;
$screen-sm-min: 768px;
$screen-xs-max: 767px;
